.posts-container-wrapper {
    display: flex;
    height: 50%;
    width: 100%;
    min-width: 400px;
    margin: 5px auto;
}

.posts-container-inner-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 950px;
    padding-top: 60px;
}

.posts-column {
    display: flex;
    flex-direction: column;
    min-width: 614px;
    max-width: 614px;
    margin-right: 28px;
    height: 100vh;
}

.posts-user-column {
    display: flex;
    flex-direction: column;
    min-width: 293px;
    max-width: 293px;
    height: 100vh;
    border: thin solid #00f;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header h2 {
    font-size: 14px;
    font-weight: bold;
}

.post-border {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 60px;
    border-radius: 4px;;
}

.post-image-wrapper {
    height: 100%;
    width: 100%;
}

.post-image {
    width: 100%;
}

.post-header {
    display: flex;
    padding: 16px;
    max-height: 50px;
}

.posts-username {
    color: rgb(28,28,28);
    font-size: 14px;
    font-weight: 400;
    margin-left: 14px;
}

.post-thumb-wrapper {

}

.post-thumb {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.like-section {
    display: flex;
    justify-content: flex-start;
}

.like-section-wrapper {
    height: 10px;
    width: 10px;
    margin: 10px;
}

.like-number {
    display: flex;
    width: 100px;
    margin: 15px 0 8px 10px;
    font-size: 14px !important;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.liked {
    color: #f00;
}